npm-debug.log
node_modules/
coverage/
.idea/
run/
logs/
rev/
.vscode
*.swp
*.lock
*.js
app/**/*.js
!app/public/scripts/*.js
!.autod.conf.js
!gulpfile.js
!build/*
!client/**/*
*.DS_Store

test/**/*.js
config/**/*.js
app/**/*.map
test/**/*.map
config/**/*.map
package-lock.json

typings/
